/*imports*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/*VARIABLES*/
:root {
  /*colors*/
  --green-color: #7acc2d;
  --white-color: white;
  --black-color: black;
  /*espacios*/
  --space: 10px;
  /*tipografia*/
  --normal: 12px;
  /*shadow*/
  --box: 0 0 2px 1px #e6e5e6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: var(--normal);
  font-family: "Open Sans", sans-serif;
}

/* Navbar */

nav {
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  padding-right: var(--space);
  list-style: none;
}

nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}

/* Main section */
.main_section {
  padding: 10%;
  text-align: center;
}
.products {
  background-image: url(../images/curve.png);
  max-height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 20%;
  display: flex;
}

.product {
  padding: var(--space);
  margin-top: -240px;
}

.product .content {
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
}

.image_content {
  text-align: center;
}

.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.main_button:hover {
  background-color: #5e9e20;
}

/* Second section */
.caracteristicas {
  display: flex;
  justify-content: center;
}

.caracteristicas .content .image_content img {
  height: 150px;
}

.mentions {
  display: flex;
}
.mention {
  box-shadow: var(--box);
}
.contenido{
  padding: var(--space);
}
